.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 80vh;
  background-color: rgb(86, 160, 194);
  margin: auto;
  margin-top: 20px;
  font-family: Helvetica, sans-serif;
  border: 3px solid #eb7b00;
  border-radius: 20px;
}
.Appmin{

}
h1{
  color: #f0a85c;
}

body{
  background-image: url(fon-black.jpg);
}
.ullustration{
  width:350px;
  font-style: italic;
  text-align: center;
}
.enter{
  display: flex;
  justify-content: center;
  font-family: Helvetica, sans-serif;
}
.crossed{
  text-decoration: line-through 2px red;

}
.list{
  display: flex;
  flex-direction: column;
align-items: flex-start;
font-family: Helvetica, sans-serif;
}
.li{
  word-wrap: break-word;
}
button{
  background: rgb(82, 129, 179);
  color: white;
  font-family: Helvetica, sans-serif;
  padding: 10px;
  text-align: start;

}